.picture-box {
  margin-top: .01em;
  margin-bottom: 1em;
  padding: .57em;
  border-radius: 20px;
  width: fit-content;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.quote-box {
  margin-top: .75em;
  padding: 1.0em;
  border-radius: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.quote {
  font-style: italic;
}

.author {
  font-weight: bold;
  margin-top: 0.5em;
}

.author::before {
  content: " - ";
}

.picture-box img {
  width: 100%;
  height: auto;
  max-width: 500px;
  border-radius: 20px;
  display: block;
  margin: 1 auto;
}

p {
    text-align: center;
}